/* Reset some default styles */
body, h1, h2, p, ul, li,  form, input, label, button {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Heebo', sans-serif;
    background-color: #f5f5f5;
}



/* Navbar Styles */
/* Navbar Styles */
nav {
    background-color: #f3f8f4;
    padding: 20px;
    font-family: 'Heebo', sans-serif;

    .navbar {
        display: grid;
        grid-template-columns: 1fr auto;
        list-style-type: none;

        .menu {
            display: flex;
            justify-content: center;

            li {
                display: inline;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: #333;
                    font-size: 1.2rem;
                }
                &:hover{
                    color: #218f33;
                    text-decoration: underline;
                }
            }
        }

        .sign {
            display: flex;
            justify-content: flex-end;
            li {
                display: inline;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: rgb(9, 22, 3);
                    font-size: 1.2rem;
                }
            }

            .logout{
                button {
                    width: 150px;
                    height: 30px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    background: red;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
                    background: #e62222;
                  
                    &, span {
                      transition: 200ms;
                    }
                  
                    .text {
                      transform: translateX(35px);
                      color: white;
                      font-weight: bold;
                    }
                  
                    .icon {
                      position: absolute;
                      border-left: 1px solid #c41b1b;
                      transform: translateX(110px);
                      height: 20px;
                      width: 40px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                  
                      svg {
                        width: 15px;
                        fill: #eee;
                      }
                    }
                  
                    &:hover {
                      background: #ff3636;
                    }
                  
                    &:hover .text {
                      color: transparent;
                    }
                  
                    &:hover .icon {
                      width: 150px;
                      border-left: none;
                      transform: translateX(0);
                    }
                  
                    &:focus {
                      outline: none;
                    }
                  
                    &:active .icon svg {
                      transform: scale(0.8);
                    }
                  }
                  
            }
        }
    }
}


/*--------------------------------------------------Header Styles --------------------------------------------------------------------*/
.homepage-container{
  
    header {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
        padding: 40px;
        background: radial-gradient(circle, #AEE787, #89C764, #6DA541, #4B8220);
        box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
        border: 1px solid #ddd;
        font-family: 'Arial', sans-serif;
    
        img {
            border-radius: 100%;
            height: 500px;
            transition: transform 0.3s ease;
    
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                animation: bobble 0.4s ease infinite alternate;
            }
        }
    
        @keyframes bobble {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(0, -5px);
            }
        }


        .buttons{
            margin-top: 50px;
            a {
                padding: 12.5px 30px;
                border: 0;
                border-radius: 100px;
                background-color: #2ba8fb;
                color: #ffffff;
                font-weight: Bold;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
              }
              
              a:hover {
                background-color: #6fc5ff;
                box-shadow: 0 0 20px #6fc5ff50;
                transform: scale(1.1);
              }
              
              a:active {
                background-color: #3d94cf;
                transition: all 0.25s;
                -webkit-transition: all 0.25s;
                box-shadow: none;
                transform: scale(0.98);
              }
        }
    }
    



/* -----------------------------------------Section Styles---------------------------------------------------- */

.farmer-section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    .image-side {
        flex: 1;
        img {
            width: 100%;
            height: auto;
        }
    }

    .text-side {
        flex: 1;
        padding: 20px;

        h2 {
            color: #333;
            font-size: 24px;
        }

        p {
            color: #666;
            line-height: 1.6;
        }

        .learn-more {
            margin-top: 20px;
            a {
                color: #3498db;
                text-decoration: none;
                border: 1px solid #3498db;
                padding: 10px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #3498db;
                    color: #fff;
                }
            }
        }
    }
}





/* -----------------------------------------Section Styles---------------------------------------------------- */
}



/* Auth section */
/* Modern and Attractive Styles for Registration Form */
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    .container {
        background-color: #fff;
        height: auto;
        width: 80%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow: auto; /* Add overflow property */
        margin: 20px;
    }
    
    .heading {
        text-align: center;
        padding: 20px 0;
    
        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
    
    .formcont {
        padding: 20px;
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .part {
                margin-bottom: 15px;
                width: 100%;
    
                input,
                select {
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    font-size: 16px;
                    margin-top: 8px;
                    transition: border-color 0.3s;
                    box-sizing: border-box;
                    background-color: #f9f9f9;
    
                    &:focus {
                        border-color: #4CAF50;
                    }
                }
    
                input[type="file"] {
                    width: 100%;
                    padding: 12px;
                    margin-top: 10px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    font-size: 16px;
                    box-sizing: border-box;
                    background-color: #f9f9f9;
                }
    
                label {
                    margin-bottom: 5px;
                    display: block;
                    font-size: 14px;
                    color: #555;
                }
    
                p {
                    font-size: 12px;
                    color: #e74c3c;
                    margin-top: 8px;
                    align-self: center;
                }
            }
    
            button {
                width: 100%;
                background-color: #4CAF50;
                color: #fff;
                padding: 12px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-size: 16px;
    
                &:hover {
                    background-color: #45a049;
                }
            }
        }
    
        .notlogin {
            margin-top: 15px;
    
            span {
                font-size: 14px;
                color: #555;
            }
    
            a {
                color: #3498db;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}



.profile-create {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;

    .form-section {
        display: none;
    }

    .current-section {
        display: block;
    }

    .button-group {
        margin-top: 20px;
    }
    
    .farm-form {
        display: flex;
        flex-direction: column;

        .form-section {
            display: none;
            flex-direction: column;
            margin-bottom: 20px;

            &.current-section {
                display: flex;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .part {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                label {
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                select, input[type="text"] {
                    padding: 10px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                }

               
                /*----------------------------------------------------------Radio Group--------------------------------------------------------------------------------------------------------------------------------------- */
                .radio-group {
                  
                    .custom-radio {
                      display: flex;
                      flex-direction: column;
                      background-color: #fff;
                      overflow: hidden;
                  
                      input[type="radio"] {
                        display: none;
                      }
                  
                      .radio-label {
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        cursor: pointer;
                        transition: background-color 0.3s ease-in-out;
                  
                        .radio-circle {
                          width: 20px;
                          height: 20px;
                          border: 2px solid #4CAF50;
                          border-radius: 50%;
                          margin-right: 10px;
                          transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
                        }
                  
                        .radio-text {
                          color: #666;
                          transition: color 0.3s ease-in-out;
                          font-size: 16px;
                          line-height: 1.5;
                          font-family: Arial, sans-serif;
                        }
                      }
                  
                      input[type="radio"]:checked + .radio-label {
                        background-color: #4CAF50;
                  
                        .radio-circle {
                          border-color: #fff;
                          background-color: #4CAF50;
                        }
                  
                        .radio-text {
                          color: #64748b;
                        }
                      }
                    }
                  }
                  

                

                /*----------------------------------------------------------------Checkbox--------------------------------------------------------------------------------------------------------------------------------- */
                .checkbox-group {
                    .checkbox {
                        position: relative;
                        display: block;
                        cursor: pointer;
                        font-size: 16px;
                        color: #666;
                        line-height: 1.5;
                        font-family: Arial, sans-serif;
                        user-select: none;
                        margin-bottom: 20px; /* Adjust margin here if needed */
                    }
                
                    .checkbox input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                
                    .checkmark {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 30px;
                        width: 30px;
                        border: 2px solid #666;
                        border-radius: 5px;
                        transition: all 0.2s ease-in-out;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    }
                
                    .checkbox:hover .checkmark {
                        transform: translateX(-20px) translateY(-50%) rotate(10deg);
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                    }
                
                    .checkbox input:checked ~ .checkmark {
                        background-color: #666;
                        border-color: #666;
                    }
                
                    .checkbox input:checked ~ .checkmark:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 14px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                
                    .text {
                        margin-left: 40px; 
                        display: inline-block;
                        transition: all 0.2s ease-in-out;
                    }
                }
                               








                /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
            }

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                background-color: #3f51b5;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #303f9f;
                }
            }
        }
    }

 
}




/* Footer Styles */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}



