
.success-page{
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
  }

}

.farmer-report{
  margin-top:50px;
  margin-bottom: 50px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;  
        .main-body {
          padding: 15px;
        }
      .card {
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
      }

      .card {
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 0 solid rgba(0,0,0,.125);
          border-radius: .25rem;
      }

      .card-body {
          flex: 1 1 auto;
          min-height: 1px;
          padding: 1rem;
      }

      .gutters-sm {
          margin-right: -8px;
          margin-left: -8px;
      }

      .gutters-sm>.col, .gutters-sm>[class*=col-] {
          padding-right: 8px;
          padding-left: 8px;
      }
      .mb-3, .my-3 {
          margin-bottom: 1rem!important;
      }

      .bg-gray-300 {
          background-color: #e2e8f0;
      }
      .h-100 {
          height: 100%!important;
      }
      .shadow-none {
          box-shadow: none!important;
      }
}


.offer-bg {
  background-color: #007f4f; // Set your desired background color
  padding: 20px;
  margin-top: 50px;

  .row {
    display: flex;
    justify-content: space-between; // Add space between the cards

    // Custom styling for the card
    .card {
      margin-bottom: 20px;
      background-color: #007f4f;
      border: none;

      img {
        max-width: 100%;
        max-height: 300px;
        min-height: 300px;
      }

      // Custom styling for the card body
      .card-body {
        padding: 15px;

        // Optional: Custom styling for card titles and descriptions
        .card-title {
          color: #fff; 
          margin-bottom: 10px; 
          font-weight: bold;
          font-size: 25px;
        }

        .card-text {
          font-size: 17px;
          line-height: 33px;
          color: #fff;
          font-weight: 500;
        }
      }
    }
  }
}




.blogs {
  background-color: #007f4f; 
  margin-top: 30px;
  padding: 40px 0; 
  
  .container {
    
    .section-title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: #fff;
    }
  }

  .card {
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
    }

    .card-body {
      padding: 20px;

      
      .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      
      .card-text {
        font-size: 17px;
        line-height: 33px;
        color: #4c4a49;
        font-weight: 500;
        margin-bottom: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
      

      
      .btn-primary {
        background-color: #007f4f; 
        border-color: #007f4f;
        &:hover{
          border-color: #FFC000;
          background-color: #FFC000;
          color: #fff;
        }
      }
    }
  }

  
  .btn-outline-primary {
    border-color: #FFC000;
    color: #fff;
    background-color: #FFC000 ;

    &:hover {
      border-color: #fff;
      background-color: #fff;
      color: #007f4f;
    }
  }
}


////////////////Farmer-INfo
.farm-info-header {
  background-color: #ffffff;
  text-align: center;
  padding: 20px; 
  margin-top:100px;
  a{
      color: #fff;
      font-size: 17px;
      line-height: 29px;
      background: #007f4f;
      border: #007f4f solid 1px;
      padding: 12px 20px;
      display: inline-block;
      width: 231px;
      text-align: center;
      border-radius: 18px;
      &:hover {
        color: #fff;
        background: #FFC000;
        border: #FFC000 solid 1px;
    }
  }
}

.how {
  padding: 20px;
  background-color: #007f4f;
  margin-bottom: 50px;
  margin-top: 50px;
  .how-title {
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
  }
  .instruction-card {
    background-color: #007f4f;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;

    img.instruction-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    h5 {
      
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      color: #FFF;
      &:hover{
        color: #FFC000;
        text-decoration: underline;
        cursor: pointer;
      }
      
    }

    p {
      font-size: 17px;
      line-height: 33px;
      color: #FFF;
      font-weight: 500;
    }
  }
}
