// SCSS for Registration Form Labels

.auth {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    overflow-y: auto;

    .heading {
      h2 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    .formcont {
      display: flex;
      flex-direction: column;

      .part {
        position: relative;
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          text-align: left;
          color: #555;
          font-weight: bold;
        }

        input,
        select,
        textarea,
        button {
          width: 100%;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          transition: border-color 0.3s;
          box-sizing: border-box;
          margin-top: 5px;
          display: block; // Ensure input, select, textarea, and button are displayed as block elements
        }

        input[type="file"] {
          padding: 10px;
        }

        p.error-message {
          font-size: 12px;
          color: red;
          margin-top: 8px;
          align-self: center;
        }

        button {
          background-color: #38c8a8;
          color: #fff;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #2d9c88;
          }
        }

        // Adjust the styling for Date of Birth, Role, and Profile
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(8) {
          display: flex;
          flex-direction: column;

          label {
            text-align: left; // Adjusted alignment for labels
            margin-bottom: 5px;
          }

          input,
          select,
          textarea,
          input[type="file"] {
            width: 100%;
          }
        }
      }

      .notlogin {
        span {
          color: #666;
          font-size: 14px;

          a {
            color: #38c8a8;
            text-decoration: none;
            font-weight: bold;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
